/nobackup/data5/Skeletonema_marinoi_genome_project/data/S1-M_S2_L001_R1_001.FQF.Pair.fastq	/nobackup/data5/Skeletonema_marinoi_genome_project/data/S1-M_S2_L001_R2_001.t-20.FQT.Pair.fastq	63	623	DISTANCE_ESTIMATED
/nobackup/data5/Skeletonema_marinoi_genome_project/data/S1-M_S2_L001_R1_001.FQF.Singles.fastq	-	0	0	NO_DATA
/nobackup/data5/Skeletonema_marinoi_genome_project/data/S1-M_S2_L001_R2_001.t-20.FQT.Singles.fastq	-	0	0	WRONG_DIRECTION
